<div class="container py-5">

  <div class="mb-3">
    <a routerLink="/home" 
       class="btn btn-outline-secondary btn-sm align-items-center gap-1 px-2 shadow-sm" 
       style="display: inline-flex;">
        <i class="bi bi-arrow-left"></i>
        ⇦ Voltar para o Início
    </a>
  </div>

  <h2 class="mb-4" style="color: #495057;">Sobre o Sistema</h2>
  <p>Este sistema de gerenciamento de contatos foi desenvolvido para facilitar o controle e organização de contatos.</p>
  <h5 class="mt-4">Tecnologias utilizadas</h5>

  <ul>
      <li>Angular</li> 
      <li>Bootstrap</li> 
      <li>TypeScript</li> 
      <li>HTML e CSS</li> 
      <li>Framework Java</li> 
  </ul>

  <h5 class="mt-4">Desenvolvedor</h5>

  <p>Ana Carolina Claro</p>

</div>
